



  




<!DOCTYPE html>
<html>

  
  
  

  <head>
    <title>Entries 1-4 of 4 | Stellenbauchery</title>

    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <meta name='viewport' content='width=device-width'>
    <meta name='description' content="">

    <link rel='icon' type='image/png' href='/images/favicon.png'>
    <link rel='stylesheet' type='text/css' href='/stylesheets/normalize.css'>
    <link rel='stylesheet' type='text/css' href='/stylesheets/screen.css'>
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Ruthie'>

    <meta property='og:title' content="Entries 1-4 of 4 | Stellenbauchery">
    <meta property='og:site_name' content="Stellenbauchery">
    <meta property='og:url' content="http:///blog/index.html">
    <meta property='og:description' content="">
    <meta property='og:type' content="blog">

    {% include pagination/title.html %}
{% include header.html custom_title=pagination_title %}

  <div class='large_column'>
    <div class='container bottom_border'>
      <h3 class='left title'>{{ pagination_title }}</h3>

      <h3 class='right title'>
        {% if paginator.previous_page %}<a href='{{ paginator.previous_page_path }}'>&#8592; Previous Entries</a>{% endif %}
        {% if paginator.previous_page and paginator.next_page %} | {% endif %}
        {% if paginator.next_page %}<a href='{{ paginator.next_page_path }}'>Next Entries &#8594;</a>{% endif %}
      </h3>
    </div><!--pagination_top-->

    {% for entry in paginator.posts %}
      <article class='bottom_border'>

        <h1><a href='{{ entry.url }}'>{{ entry.title }}</a></h1>
        <h5>{% include entry/timestamp.html %}</h5>
        {{ entry.excerpt | remove_first: '</p>' | append: ' <a href="' | append: entry.url | append: '">Read the full article.</a></p>' }}
        {% include entry/tags.html entry=entry %}

      </article>
    {% endfor %}

    <div class='container'>
      <h3 class='left'>{{ pagination_title }}</h3>

      <h3 class='right'>
        {% if paginator.previous_page %}<a href='{{ paginator.previous_page_path }}'>&#8592; Previous Entries</a>{% endif %}
        {% if paginator.previous_page and paginator.next_page %} | {% endif %}
        {% if paginator.next_page %}<a href='{{ paginator.next_page_path }}'>Next Entries &#8594;</a>{% endif %}
      </h3>
    </div><!--pagination_bottom-->
  </div><!--large_column-->

  <div class='small_column'>
    <h3 class='title'>By <a href='/blog/categories.html'>Categories</a></h3>
    <ul class='plain small bold no_bullets'>
      {% for category_obj in site.categories limit:10 %}
        {% assign category = category_obj[0] %}
        {% assign category_id = category | normalize %}
        <li><a class='no_border capitalize' href='/blog/categories.html#{{ category_id }}'>{{ category }}</a></li>
      {% endfor %}
    </ul>

    <h3>By <a href='/blog/tags.html'>Tags</a></h3>
    <ul class='pills'>
      {% for tag_obj in site.tags limit:10 %}
        {% assign tag = tag_obj[0] %}
        {% assign tag_id = tag | normalize %}
        <li><a href='/blog/tags.html#{{ tag_id }}'>{{ tag }}</a></li>
      {% endfor %}
    </ul
  </div><!--small_column-->

{% include footer.html %}

  </head>

  <body lang='en'>
    <div class='background'>
      <div class='wrapper'>

        <header class='container'>
          <h2 class='logo left'><a class='no_border' href='/'>Stellenbauchery</a></h2>
          

<nav class='right'>
  <ul class='inline_list'>
    <li><a href='/about.html' >About</a></li>
    <li><a href='/blog' class='current'>Blog</a></li>
    <li><a href='/writing.html' >Writing</a></li>
    <li><a href='/resume.html' >Résumé</a></li>
    <li><a href='/contact.html' >Contact</a></li>
    <!--<li><a class='rss' href='/feed.xml' target='_blank'>RSS</a></li>-->
  </ul>
</nav>

        </header>

        <main class='container'>


  <div class='large_column'>
    <div class='container bottom_border'>
      <h3 class='left title'>Entries 1-4 of 4</h3>

      <h3 class='right title'>
        
        
        
      </h3>
    </div><!--pagination_top-->

    
      <article class='bottom_border'>

        <h1><a href='/blog/10-31-2013/Starting-Again.html'>Starting Again</a></h1>
        <h5>
  
  In <a href='/blog/categories.html#winemaking'>Winemaking</a>
  
  on 31 Oct 13

</h5>
        <p>I cried only once for my hometown of Buffalo, New York, when I left this summer to start the next chapter of my life in Madison, Wisconsin. 
 <a href="/blog/10-31-2013/Starting-Again.html">Read the full article.</a></p>
        <ul class='inline_list pills'>
  
    
    <li><a href='/blog/tags.html#wisconsin'>Wisconsin</a></li>
  
    
    <li><a href='/blog/tags.html#mitchell-vineyard'>Mitchell Vineyard</a></li>
  
    
    <li><a href='/blog/tags.html#viticulture'>viticulture</a></li>
  
    
    <li><a href='/blog/tags.html#niagara'>Niagara</a></li>
  
    
    <li><a href='/blog/tags.html#malbec'>malbec</a></li>
  
</ul>


      </article>
    
      <article class='bottom_border'>

        <h1><a href='/blog/01-30-2010/Wine-Tasting-Part-I.html'>Wine Tasting, Part I</a></h1>
        <h5>
  
  In <a href='/blog/categories.html#south-african-wine'>South African wine</a>
  
  on 30 Jan 10

</h5>
        <p>This weekend I was determined to go wine tasting – being
surrounded by incredible wine farms the past two weeks and only visiting two of them due to a lack of transportation has had me feeling like a eunuch at the Playboy mansion, so I made it my mission to find a tasting buddy with a good nose and a good set of wheels. I found both in Dana, my buddy who works in the
Blaauwklippen vineyard, and we took off on Saturday with nothing but wine in our plans.
 <a href="/blog/01-30-2010/Wine-Tasting-Part-I.html">Read the full article.</a></p>
        <ul class='inline_list pills'>
  
    
    <li><a href='/blog/tags.html#stellenbosch'>Stellenbosch</a></li>
  
    
    <li><a href='/blog/tags.html#simonsberg'>Simonsberg</a></li>
  
    
    <li><a href='/blog/tags.html#banhoek'>Banhoek</a></li>
  
    
    <li><a href='/blog/tags.html#delheim'>Delheim</a></li>
  
    
    <li><a href='/blog/tags.html#delaire'>Delaire</a></li>
  
    
    <li><a href='/blog/tags.html#tokara'>Tokara</a></li>
  
    
    <li><a href='/blog/tags.html#zorgvliet'>Zorgvliet</a></li>
  
    
    <li><a href='/blog/tags.html#thelema'>Thelema</a></li>
  
</ul>


      </article>
    
      <article class='bottom_border'>

        <h1><a href='/blog/01-27-2010/The-Grapes-And-Math.html'>The Grapes and Math</a></h1>
        <h5>
  
  In <a href='/blog/categories.html#winemaking'>Winemaking</a>
  
  on 27 Jan 10

</h5>
        <p>Today was our first day in the vineyard – it’s time to take
our first samples for analysis. Typically the first grapes harvested are viognier (our only white grape), merlot, and shiraz, so we tested the blocks of those grapes that tend to ripen earliest. (Note: For those of you reading who aren’t necessarily wine peeps – hi, Mom! – please excuse the technical jargon. And for those of you who are major wine peeps, please excuse the brevity of the technical jargon.
 <a href="/blog/01-27-2010/The-Grapes-And-Math.html">Read the full article.</a></p>
        <ul class='inline_list pills'>
  
    
    <li><a href='/blog/tags.html#stellenbosch'>Stellenbosch</a></li>
  
    
    <li><a href='/blog/tags.html#blaauwklippen'>Blaauwklippen</a></li>
  
    
    <li><a href='/blog/tags.html#viticulture'>viticulture</a></li>
  
    
    <li><a href='/blog/tags.html#2010-harvest'>2010 harvest</a></li>
  
</ul>


      </article>
    
      <article class='bottom_border'>

        <h1><a href='/blog/01-17-2010/Suitcases-Wine-And-Goodbyes.html'>Suitcases, Wine, and Goodbyes</a></h1>
        <h5>
  
  In <a href='/blog/categories.html#south-african-wine'>South African wine</a>
  
  on 17 Jan 10

</h5>
        <p>This is a story, I hope, about wine, travel, adventure, friendship, passion, and, if all my dreams are realized, at least one elephant. I leave Sunday afternoon for <a href="http://en.wikipedia.org/wiki/Stellenbosch">Stellenbosch</a>, South Africa, where I’ll be a cellar/vineyard intern at <a href="http://www.blaauwklippen.com/">Blaauwklippen Vineyards</a> for the 2010 vintage. Having never been to South Africa, with only a year in the wine industry and one harvest under my belt, I have no doubt I’m in for a solid ass-kicking, and being a compulsive writer I thought it might be nice to document the experience so those of you reading this can have a few laughs at my expense to warm your cold winter months.
 <a href="/blog/01-17-2010/Suitcases-Wine-And-Goodbyes.html">Read the full article.</a></p>
        <ul class='inline_list pills'>
  
    
    <li><a href='/blog/tags.html#blaauwklippen'>Blaauwklippen</a></li>
  
    
    <li><a href='/blog/tags.html#stellenbosch'>Stellenbosch</a></li>
  
    
    <li><a href='/blog/tags.html#2010-harvest'>2010 harvest</a></li>
  
</ul>


      </article>
    

    <div class='container'>
      <h3 class='left'>Entries 1-4 of 4</h3>

      <h3 class='right'>
        
        
        
      </h3>
    </div><!--pagination_bottom-->
  </div><!--large_column-->

  <div class='small_column'>
    <h3 class='title'>By <a href='/blog/categories.html'>Categories</a></h3>
    <ul class='plain small bold no_bullets'>
      
        
        
        <li><a class='no_border capitalize' href='/blog/categories.html#south-african-wine'>south african wine</a></li>
      
        
        
        <li><a class='no_border capitalize' href='/blog/categories.html#winemaking'>winemaking</a></li>
      
    </ul>

    <h3>By <a href='/blog/tags.html'>Tags</a></h3>
    <ul class='pills'>
      
        
        
        <li><a href='/blog/tags.html#blaauwklippen'>Blaauwklippen</a></li>
      
        
        
        <li><a href='/blog/tags.html#stellenbosch'>Stellenbosch</a></li>
      
        
        
        <li><a href='/blog/tags.html#2010-harvest'>2010 harvest</a></li>
      
        
        
        <li><a href='/blog/tags.html#viticulture'>viticulture</a></li>
      
        
        
        <li><a href='/blog/tags.html#simonsberg'>Simonsberg</a></li>
      
        
        
        <li><a href='/blog/tags.html#banhoek'>Banhoek</a></li>
      
        
        
        <li><a href='/blog/tags.html#delheim'>Delheim</a></li>
      
        
        
        <li><a href='/blog/tags.html#delaire'>Delaire</a></li>
      
        
        
        <li><a href='/blog/tags.html#tokara'>Tokara</a></li>
      
        
        
        <li><a href='/blog/tags.html#zorgvliet'>Zorgvliet</a></li>
      
    </ul
  </div><!--small_column-->

        </main>
      </div><!--wrapper-->

      <footer>
        <div class='container wrapper'>

          <p class='left'>
            &copy; 2007&mdash;2013
            <i><a href='/about.html'>Julia Burke</a></i>
            (<a href='/attribution.html'>Attribution</a>)
          </p>

          

<nav class='right'>
  <ul class='inline_list'>
    <li><a href='/about.html' >About</a></li>
    <li><a href='/blog' class='current'>Blog</a></li>
    <li><a href='/writing.html' >Writing</a></li>
    <li><a href='/resume.html' >Résumé</a></li>
    <li><a href='/contact.html' >Contact</a></li>
    <!--<li><a class='rss' href='/feed.xml' target='_blank'>RSS</a></li>-->
  </ul>
</nav>

        </div><!--container-->
      </footer>
    </div><!--background-->

  </body>
</html>

